/* Reset all margins, padding, and borders */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Reset fonts */
body {
    font-family: sans-serif;
    line-height: 1.5;
    background: white;
    color: black;
}
