/* Light Mode */
:root {
    --background: white;
    --text-color: black;
    --link-color: blue;
}

/* Dark Mode */
.dark-mode {
    --background: #222;
    --text-color: white;
    --link-color: lightblue;
}

body {
    background: var(--background);
    color: var(--text-color);
}
