{% extends "base.html" %}
{% load view_breadcrumbs %}

{% block title %} Core App {% endblock title %}

{% block header %}
  <nav>
    <div class="breadcrumbs">
      {% block breadcrumbs %}
        <main>
          {% render_breadcrumbs 'view_breadcrumbs/bootstrap5.html' %}
        </main>
      {% endblock %}
    </div>
  </nav>
{% endblock header %}

{% block content %}
  {% block app_content %}
    
  {% endblock app_content %}
{% endblock content %}

{% block extra_scripts %}
    <script>console.log("Core App JavaScript Loaded");</script>
{% endblock %}

